@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
   --color-primary: #3189c6;
   --background-banner: url("/src/assets/images/background-banner.png");
   --background-blue: url("/src/assets/images/background-blue.png");
   --background-pendaftaran: url("/src/assets/images/background-pendaftaran.png");
   --background-card-board: url("/src/assets/images/background-card-board.png")
}

body {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
}